<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>404</title>
  <meta name="description" content="">
  <meta name="robots" content="noindex, nofollow">
  <link rel="stylesheet" href="{{{structure.assetDir}}}/css/style.css">

  <link rel="icon" type="image/svg+xml" href="{{{structure.assetDir}}}/images/logo.svg">
</head>

<body class="error-page">
  <section class="last-child colored full vertical-aligned align-center">
    <div class="section-content">
      <div class="page">
        <h1>You just got 404'D</h1>
        <h2 class="light-typo">The page you are looking for does not exist. Sorry :'(</h2>
      </div>
    </div>
  </section>
</body>

</html>
